<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.modalController.dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-border">
  <ion-list lines="none">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input
        type="text"
        placeholder="username"
        [(ngModel)]="username"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        type="password"
        placeholder="Pâs$w0rD"
        [(ngModel)]="password"
      ></ion-input> </ion-item
    ><ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input
        type="password"
        placeholder="Pâs$w0rD"
        [(ngModel)]="cpassword"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ul>
        <li *ngIf="this.username.trim().length == 0">
          <ion-text color="danger">You need to enter a username.</ion-text>
        </li>
        <li *ngIf="this.password != this.cpassword">
          <ion-text color="danger">Passwords do not match.</ion-text>
        </li>
        <li *ngIf="this.password.length < 6">
          <ion-text color="danger">
            Password must contain at least six characters.</ion-text
          >
        </li>
      </ul>
    </ion-item>

    <ion-item>
      <ion-label
        ><a (click)="this.modalController.dismiss('login')"
          >Already have an account?</a
        ></ion-label
      >
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row *ngIf="this.username.length  !== 0">
        <ion-col>
          <ion-button
            (click)="auth.emailRegister(username, password)"
            [disabled]="this.username.trim().length == 0 || this.password.length < 6 || this.password != this.cpassword"
            expand="block"
            color="primary"
            shape="round"
          >
            Register
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="this.username.length  === 0">
        <ion-col>
          <ion-button
            (click)="auth.googleSignin()"
            expand="block"
            color="primary"
            shape="round"
          >
            Register with Google
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
