<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="quotes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="isIndexPage else list">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center"
          >Quote of the Day</ion-card-title
        >
      </ion-card-header>
      <ion-item>
        <ion-grid fixed>
          <ion-row class="ion-text-center">
            <ion-col size="10" offset="1"
              >“Neque blanditiis voluptas reiciendis commodi labore ex
              qui.”</ion-col
            >
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center ion-text-uppercase">
              maiores
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-right ion-text-lowercase" color="light">
              {{ 1592140434000 | timeAgo }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item [routerLink]="['top']">
        <ion-label>Top Quotes</ion-label>
      </ion-item>
    </ion-card>

    <div *ngIf="authorService.authorNames$ | async as authors; else loading">
      <ion-card *ngFor="let author of authors">
        <ion-item [routerLink]="['author',author.toLowerCase()]">
          <ion-label>{{author}}'s Quotes</ion-label>
        </ion-item>
      </ion-card>
    </div>

    <ng-template #loading>
      <ion-card *ngFor="let x of [0,0,0,0,0]">
        <ion-item>
          <ion-skeleton-text animated style="height: 20px;"></ion-skeleton-text>
        </ion-item>
      </ion-card>
    </ng-template>
  </div>
  <ng-template #list>
    <ion-card *ngFor="let quote of quotes">
      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option>
            <ion-icon slot="icon-only" name="heart"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item>
          <ion-grid fixed>
            <ion-row class="ion-text-center">
              <ion-col size="10" offset="1">“{{ quote.data }}”</ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center ion-text-uppercase">
                {{ quote.author | author | async }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-right ion-text-lowercase" color="light">
                {{ quote.created | timeAgo }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-item-sliding>
    </ion-card>

    <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="More quotes are comming.."
      >
      </ion-infinite-scroll-content> </ion-infinite-scroll
  ></ng-template>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button>
          <ion-icon name="albums-outline"></ion-icon>
          <ion-label>Qutoes</ion-label>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon name="star"></ion-icon>
          <ion-label>Favorites</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>

        <ion-tab-button (click)="profileModal();">
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>My Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
