<ion-header>
  <ion-toolbar>
    <ion-title>Quotes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let quote of quotes">
    <ion-item>
      {{ quote.title }}
    </ion-item>
  </ion-card>

  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- <div *ngIf="auth.user$ | async as user; else loginTemplate">
    <ion-avatar slot="start">
      <img [src]="user.photoURL" />
    </ion-avatar>
    <ion-label>@{{ user.displayName }}</ion-label>

    <button (click)="auth.signOut()">Logout</button>
  </div>

  <ng-template #loginTemplate>
    <ion-grid>
      <ion-row>
        <ion-col size="6"
          ><ion-button
            (click)="login()"
            expand="block"
            fill="clear"
            shape="round"
          >
            Login
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button
            (click)="register()"
            expand="block"
            fill="clear"
            shape="round"
          >
            Register
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template> -->
</ion-content>
