<ion-header>
  <ion-toolbar>
    <ion-title>Quotes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="quotes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="false else list"></div>
  <ng-template #list>
    <ion-card *ngFor="let quote of quotes">
      <ion-item>
        {{ quote.title }} {{ quote.created | timeAgo }}
        <div *ngIf="authorService.ready">{{ quote.author | author}}</div>
      </ion-item>
    </ion-card>

    <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="More quotes are comming.."
      >
      </ion-infinite-scroll-content> </ion-infinite-scroll
  ></ng-template>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button>
          <ion-icon name="albums-outline"></ion-icon>
          <ion-label>Qutoes</ion-label>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon name="star"></ion-icon>
          <ion-label>Favorites</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>

        <ion-tab-button (click)="profileModal();">
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>My Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
