<ion-header>
  <ion-toolbar>
    <ion-title>Quotes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button
    [routerLink]="['/login']"
    expand="block"
    fill="clear"
    shape="round"
  >
    Login
  </ion-button>

  <ion-button
    [routerLink]="['/register']"
    expand="block"
    fill="clear"
    shape="round"
  >
    Register
  </ion-button>

  <ion-card *ngFor="let quote of quotes">
    <ion-item>
      {{ quote.title }}
    </ion-item>
  </ion-card>

  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
