<ng-container *ngIf="auth.user$ | async as user">
  <ion-header>
    <ion-toolbar>
      <ion-title>My Profile</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="auth.signOut()">
          <ion-icon slot="end" name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <app-profile-background [color]="user.color">
      <ion-avatar><ion-img [src]="user.photoURL"></ion-img> </ion-avatar>
      <ion-label>{{user.displayName}}</ion-label>
      <ion-grid fixed>
        <ion-row>
          <ion-col [size]="onDescriptionEdit?10:12">
            <ion-input
              #description
              (click)="editDescription(description)"
              (focusout)="cancelEditDescription(description)"
              (keyup.esc)="cancelEditDescription(description)"
              (keyup.enter)="saveDescription(description)"
              type="text"
              [placeholder]="!user.description?'Click to enter something about you':''"
              [value]="user.description?user.description:''"
            ></ion-input>
          </ion-col>
          <ion-col size="2" *ngIf="onDescriptionEdit">
            <ion-chip (click)="saveDescription(description)"
              >{{description.value.length }}
              <ion-icon
                [color]="description.value.length <= maxLength ? 'success':'danger'"
                name="checkmark-circle-outline"
              ></ion-icon>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>
    </app-profile-background>
  </ion-content>
</ng-container>
